#container{
	overflow:hidden;
	/*display: table;*/
}

#videop {
	display:table-cell;
	width : 90%;
	height : 100%;
}

.title{
	border:2px solid #EBEBEB;
	width : 700px;
	margin-bottom:10px;
}

.video{
	float:left;
}

.script{
	display:inline-block;
	margin-left:10px;
}